<template>
  <div id="app">
    <appHeader/>
    <router-view></router-view>
  </div>
</template>

<script>

import appHeader from './components/appHeader.vue'
export default {
  name: 'App',
  components: {
    appHeader
  }
}
</script>

<style>
#app {
  display: flex;
  flex-direction: column;
  
  color: #2c3e50;
}
h1{
  text-align: center;
}
html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
